<app-navbar></app-navbar>
<div class="row " style="padding-top: 3%; padding-bottom:3%;background-image: linear-gradient( rgba(0, 0, 0, 0.300) ,  rgba(0, 0, 0, 0.300)), url(../../assets/files/sakura_flowers_petals_206544_1600x1200.jpg);
background-attachment: fixed;
background-size: cover;width:auto;
  height: auto;">

  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <br><br>
    <div class="card bg-transparent">
      <div class="card-body shadow-lg" style="background-color: #afd6d6a1;">
        <form name="userForm">
          <h2 *ngIf="!form.data.id>0" class="text-dark font-weight-bold text-center">{{'Add User'  | translate }}</h2>
          <h2 *ngIf="form.data.id>0" class="text-dark font-weight-bold text-center">{{'Update User'  | translate }}</h2>

          
          <div *ngIf="!form.error && form.message != null" class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{form.message | translate }}
          </div>

          <div style="padding-top:3%">
            <span class="pt-2"><b>{{'Role Name'  | translate }}</b>
              <span class="required-field"></span></span>
            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-user grey-text"></i> </div>
                </div>


                <select class="form-control" name="roleId" [(ngModel)]="form.data.roleId" aria-label="ngSelected">
              <option [ngValue]="" value="undefined">{{'--Select Role--'}}</option>
              <option *ngFor="let obj of form.preload.roleList" [value]="obj.key">{{obj.value}}</option>
                </select>
              </div>
            </div>
            <span class="alertRedColor"> {{form.inputerror.roleId | translate}} </span>
          </div>

          <div style="padding-top:3%">
            <span class="pt-2"><b>{{'First Name'  | translate }}</b>
              <span class="required-field"></span></span>
            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-user-circle grey-text"></i> </div>
                </div>
                <input type="text" name="fn" [(ngModel)]="form.data.firstName" class="form-control"
                  placeholder="{{'Enter First Name'  | translate }}">
              </div>
            </div>
            <span class="alertRedColor"> {{form.inputerror.firstName | translate}} </span>
          </div>

          <div style="padding-top:3%">
            <span class="pt-2"><b>{{'Last Name'  | translate }}</b>
              <span class="required-field"></span></span>

            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-user grey-text"></i> </div>
                </div>
                <input type="text" name="ln" [(ngModel)]="form.data.lastName" class="form-control"
                  placeholder="{{'Enter Last Name'  | translate }}">
              </div>
            </div>
            <span class="alertRedColor"> {{form.inputerror.lastName | translate}} </span>
          </div>

          <div style="padding-top:3%">
            <span class="pt-2"><b>{{'login Id'  | translate }}</b>
              <span class="required-field"></span></span>

            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-envelope grey-text"></i> </div>
                </div>
                <input type="text" name="loginId" [(ngModel)]="form.data.email" class="form-control"
                  placeholder="{{'Enter Login Id'  | translate }}">
              </div>
            </div>
            <span class="alertRedColor"> {{form.inputerror.email | translate }} </span>
          </div>

          <div style="padding-top:3%">
            <span class="pt-2"><b>{{'Password'  | translate }}</b>
              <span class="required-field"></span></span>

            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-key grey-text"></i> </div>
                </div>
                <input type="password" name="pwd" [(ngModel)]="form.data.password" class="form-control"
                  placeholder="{{'Enter Password'  | translate }}">
              </div>
            </div>
            <span class="alertRedColor"> {{form.inputerror.password | translate }} </span>
          </div>

          <div style="padding-top:3%">
            <span class="pt-2"><b>{{'Mobile'  | translate }}</b>
              <span class="required-field"></span></span>

            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-phone grey-text"></i> </div>
                </div>
                <input type="text" name="phone" [(ngModel)]="form.data.phone" class="form-control"
                  placeholder="{{'Enter Mobile Number' | translate}}">
              </div>
            </div>
            <span class="alertRedColor"> {{form.inputerror.phone | translate }} </span>
          </div>

          <div style="padding-top:3%">
            <span class="pt-2"><b>{{'Alternate Mobile'  | translate }}</b>
              <span class="required-field"></span></span>

            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-mobile grey-text"></i> </div>
                </div>
                <input type="text" name="alternateMobile" [(ngModel)]="form.data.alternateMobile" class="form-control"
                  placeholder="{{'Enter Alternate Number' | translate}}">
              </div>
            </div>
            <span class="alertRedColor"> {{form.inputerror.alternateMobile | translate }} </span>
          </div>

          <div style="padding-top:3%">
            <span class="pt-2"><b>{{'DOB'  | translate }}</b>
              <span class="required-field"></span></span>

            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-table grey-text"></i> </div>
                </div>
                <input type="date" name="dob" [value]="form.data.dob | date:'yyyy-MM-dd'"
                (input)="form.data.dob=parseDate($event.target.value)"
                class="form-control form-control-sm" required />
              </div>
            </div>
            <span class="alertRedColor"> {{form.inputerror.dob | translate}} </span>
          </div>
          
          <div style="padding-top:3%">
            <span class="pt-2"><b>{{'Gender'  | translate }}</b>
              <span class="required-field"></span></span>

            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-venus grey-text"></i> </div>
                </div>
                <select class="form-control" name="gender" id="gender" [(ngModel)]="form.data.gender"
                  style="cursor: pointer;">
                  <option [ngValue]="" value="undefined">{{'--Select Gender--'}}</option>
                  <option value="Male">{{'Male'  | translate }} </option>
                  <option value="Female">{{'Female'  | translate }} </option>
                </select>
              </div>
            </div>
            <span class="alertRedColor"> {{form.inputerror.gender | translate }} </span>
          </div>

          <div *ngIf="form.data.imageId" >
            <img src="http://localhost:8080/User/profilePic/{{form.data.id}}" height="55px" width="80px">
          </div>
          <div *ngIf="!form.data.imageId" >
          </div> 
          <div style="padding-top:3%">
            <span class="pt-2"><b>{{'Image'  | translate }}</b>
              <span class="required-field"></span></span>

            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-picture-o grey-text"></i> </div>
                  <input type="file" id="customFile" name="imageId"
                  (change)="onFileSelect($event.target.files)" accept="image/*">

                <span class="alertRedColor"> {{form.inputerror.image}} </span>
                </div>
               
              </div>
            </div>
          </div>
          

          
          <div style="padding-top:3%">
            <span class="pt-2"><b>{{'Status' | translate }}</b>
              <span class="required-field"></span></span>

            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-bell grey-text"></i> </div>
                </div>
                <select class="form-control" id="status" name="status" [(ngModel)]="form.data.status">
                  <option [ngValue]="" value="undefined">{{'--Select Status--'}}</option>
                  <option value="Active">{{'Active'  | translate }} </option>
                  <option value="Inactive">{{'Inactive'  | translate }} </option>
                </select>
              </div>
            </div>
            <span class="alertRedColor"> {{form.inputerror.status | translate }} </span>
          </div>
          <div class="row pt-3 pl-3 pb-3">
            <div class="pt-2">
              <button *ngIf="!form.data.id>0" (click)="onUpload()" 
                class="btn btn-success mr-2">
                {{'Save'  | translate }}</button>
            </div>

            <div class="pt-2">
              <button *ngIf="form.data.id>0" (click)="onUpload()" class="btn btn-success mr-2">
                {{'Update' | translate }}</button>
            </div>
            <div class="pt-2">
              <button (click)="forward('/userlist')" type="button" class="btn btn-warning mr-1">{{'List' | translate }}
              </button></div>
          </div>

        </form>
      </div>
    </div>
    <br><br>
  </div>
</div>
<app-footer></app-footer>